mixin navLink(name, href, iconName, active=false)
    if active
        li.navbar__item--active
             a(href=href).navbar__link
                .navbar__name-flexwrap
                    svg.navbar__icon
                        use(href=`./assets/icons.svg#${iconName}`)
                    p.navbar__name= name
                svg.navbar__arrow-icon
                    use(href="./assets/icons.svg#icon-chevron-right")

    else
        li.navbar__item
            a(href=href).navbar__link
                .navbar__name-flexwrap
                    svg.navbar__icon
                        use(href=`./assets/icons.svg#${iconName}`)
                    p.navbar__name= name
                svg.navbar__arrow-icon
                    use(href="./assets/icons.svg#icon-chevron-right")




nav.navbar
    ul.navbar__list
        +navLink('Dashboard', '', 'icon-key-square')
        +navLink('Product', '', 'icon-d-square')
        +navLink('Customers', '', 'icon-user-square', active=true)
        +navLink('Income', '', 'icon-wallet-money')
        +navLink('Promote', '', 'icon-discount-shape')
        +navLink('Help', '', 'icon-message-question')